<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="inputName" placeholder="Название">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <textarea name="notes" id="notes" cols="30" rows="5" class="form-control name" [(ngModel)]="inputValue"
          placeholder="Текст заметки"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary" (click)="addNote()">Добавить</button>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12" *ngFor="let item of notesArray">
      <div class="note">
        {{item.id}}. {{item.name}}
        <br>
        {{item.text}}
        <br>
        {{item.date | date:"dd.MM.yyyy"}}
        {{item.date | date:"HH:mm:ss"}}
        <br>
        <button class="btn btn-danger" (click)="delNote(item.id)">Удалить</button>
      </div>
    </div>
  </div>
</div>

